<!DOCTYPE html>
<html>
<head>
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <p>
           
        <nav>
            <ul class="horizontal-list">
                <li><a href="/history">History</a></li>
                <li><a href="landing2.html">Productivity Tips</a></li>
              
                
            </ul>
            <style>
                .horizontal-list li {
                  display: inline-block;
                  margin-right: 10px; /* optional, adds spacing between items */
                }
                </style>
        </nav>
        </p>
    </header>
    <div class="container">
        <h1>To-Do List</h1>
        <form>
            <input type="text" placeholder="Enter task" id="task-input">
            <button type="button" id="add-button">Add</button>
        </form>
        <ul id="task-list">
            <li>Example Task 1</li>
            <li>Example Task 2</li>
            <li>Example Task 3</li>
        </ul>
    </div>
    <footer>
        <p>Web App created by Nikhil Karki and partly helped by manogya guragain 2023 ©</p>
    </footer>
</body>
</html>
