<!DOCTYPE html>
<html>
<head>
    <title>Landing Page 2</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="landing1.html">Landing Page 1</a></li>
                
                <li><a href="landing3.html">Landing Page 3</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1>Landing Page 2</h1>
        <p>This is landing page 2. It's even cooler than landing page 1!</p>
    </main>
</body>
</html>
