<!DOCTYPE html>
<html>
<head>
    <title>Past Works</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
            
                <li><a href="/">HOME</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container">
        <h1>Past Works</h1>
        <ul id="completed-tasks">
            <li>
                <span class="task">Example Task 1</span>
                <span class="date">April 12, 2023</span>
            </li>
            <li>
                <span class="task">Example Task 2</span>
                <span class="date">April 11, 2023</span>
            </li>
            <li>
                <span class="task">Example Task 3</span>
                <span class="date">April 10, 2023</span>
            </li>
        </ul>
    </div>
    <footer>
        <p>Web App created by Nikhil Karki</p>
    </footer>
</body>
</html>
